---
import Default from "starlight-sidebar-topics/overrides/Sidebar.astro";
import { Icon } from "@astrojs/starlight/components";

const isHomepage = Astro.locals.starlightRoute.id === "";
const { topics } = Astro.locals.starlightSidebarTopics;
---

<!-- If we are not on the homepage, render the topics list and the Starlight sidebar. -->{
    !isHomepage && <Default />
}
<!-- Otherwise, render a topics list which will never mark a topic as the current one. -->
{
    isHomepage && (
        <ul class="starlight-sidebar-topics">
            {topics.map((topic: any) => (
                <li>
                    <a href={topic.link}>
                        {topic.icon && (
                            <div class="starlight-sidebar-topics-icon">
                                <Icon name={topic.icon} />
                            </div>
                        )}
                        <div>{topic.label}</div>
                    </a>
                </li>
            ))}
        </ul>
    )
}

<style>
    ul {
        list-style: none;
        padding: 0;
    }

    ul::after {
        content: "";
        display: block;
        margin-top: 1rem;
        height: 1px;
        border-top: 1px solid var(--sl-color-hairline-light);
    }

    li {
        overflow-wrap: anywhere;
    }

    li + li {
        margin-top: 0.25rem;
    }

    a {
        align-items: center;
        color: var(--sl-color-white);
        display: flex;
        font-size: var(--sl-text-base);
        font-weight: 600;
        gap: 0.5rem;
        line-height: 1.5;
        padding: 0.3em 0.5rem;
        text-decoration: none;
    }

    a:is(:hover, :focus-visible) {
        color: var(--sl-color-accent-high);
    }

    .starlight-sidebar-topics-icon {
        align-items: center;
        border-radius: 0.25rem;
        border: 1px solid var(--sl-color-gray-4);
        display: flex;
        justify-content: center;
        padding: 0.25rem;
    }

    a:is(:hover, :focus-visible) .starlight-sidebar-topics-icon {
        background-color: var(--sl-color-text-accent);
        border-color: var(--sl-color-text-accent);
        color: var(--sl-color-text-invert);
    }
</style>
